body {
    background-color: #2F4F4F;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: red;
    font-size: x-large;
}

#rock {
    font-family: 'Flavors', cursive;
    color:brown;
}

#paper {
    font-family: 'Stick', sans-serif;
    color: #FFFFF0;
}

#scissors {
    font-family: 'New Rocker', cursive;
    color:	#C0C0C0;
}