
body {
	height: 100vh;
	margin: 0;
	display: grid;
	background-color: #000;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: #fbc4ab;
}

h2 {
	color: #ffebcd;
}

h3 {
	color: #ffebcd;
}

footer {
	margin-top: auto;
	color: #ffebcd;
	background-color: #14213d;
	padding: 1em;
}

img {
	width: 75%;
	margin-top: 0.5em;
}

figure {
	margin: 1em;
}

figure:hover {
	background-color: red;
  margin: 0.5em;
  box-shadow: 0 1em 2em rgb(255, 255, 255);
  transition: box-shadow 0.3s ease-in-out;
}

figcaption {
	font-size: 2em;
	margin: 0.5em;
}

.wrap {
	text-align: center;
	display: grid;
	justify-content: center;
	background-color: #14213d;
	width: 100vw;
}

.weapons {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-auto-flow: column;
	width: 75vw;
}

.weapon {
	width: 25vw;
	background-color: white;
	border: .2em solid black;
}

.scores div{
	display: inline;
	font-size: 2em;
	margin: 2em;
	color: blanchedalmond;
}
.scores div span {
	margin: 1em;
}

#cpt-rock {
	font-family: 'Flavors', cursive;
	color:brown;
}

#cpt-paper {
	font-family: 'Stick', sans-serif;
	color: #fca311;
}

#cpt-scissors {
	font-family: 'New Rocker', cursive;
	color:	#b7b7a4;
}

@media screen and (max-width: 768px) {
	figure {
		margin: 0.75em;
	}

	figcaption {
		font-size: 1.1em;
	}
	
		footer {
			font-size: 0.5em;
		}

	.scores div {
		font-size: 1.5em;
		margin: 0.5em;
	}

	.scores div span {
	margin: 0.5em;
	}
}